@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.container {
    width: 100%;
    text-align: center;
}

h1, header {
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: hsl(201, 97%, 16%);
}

.btn_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-block: 30px;
    width: 100%;
}

button, .btn_ctrl {
    border: 2px solid #333;
    border-radius: 7px;
    background-color: white;
}

button {
    border: none;
    padding: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.btn_ctrl:hover {
    border-color: deepskyblue;
    background-color: rgba(47, 179, 255, 0.288);
    box-shadow: 0 3px 2px #333;
}
.btn_ctrl:focus {
    border-color: deepskyblue;
    background-color: rgba(47, 179, 255, 0.288);
    box-shadow: 0 3px 2px #333;
}

#increase-btn:hover {
    color: green;
}

#increase-btn:focus {
    color: green;
}

#decrease-btn:hover {
    color: red;
}

#decrease-btn:focus {
    color: red;
}

button:hover {
    background-color: rgba(47, 179, 255, 0.288);
    box-shadow: 0 3px 2px #333;
}

button:focus {
    background-color: rgba(47, 179, 255, 0.288);
    box-shadow: 0 3px 2px #333;
}

span, .ctn {
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.massage_container {
    width: 20%;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-left: 33.3pc;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal; 
    border-radius: 5px;
}
  